:root {
	--black: hsl(0, 0%, 7%);
	--white: #f7f7f7;
	--purple: #6c63ff;
}

body {
	background-color: var(--black);
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
}

main {
	width: 50rem;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 4rem;
}

form {
	/* align-self: stretch; */
	display: flex;
	gap: 0.6rem;
	margin: 0 auto;
}

label {
	font-size: 1.2rem;
}

input[type='submit'],
.clear {
	padding: 0 0.4rem;
}
#new-task-description {
	width: 36rem;
}
h1 {
	font-size: 4.1rem;
}

.low {
	color: hsl(120, 100%, 50%);
}

.medium {
	color: hsl(60, 100%, 50%);
}

.high {
	color: hsl(0, 100%, 50%);
}

#tasks {
	display: flex;
	flex-direction: column;
	gap: 1.9rem;
	align-items: center;
}
.task {
	position: relative;
	display: flex;
	font-size: 1.8rem;
	justify-content: flex-start;
	gap: 2rem;
	width: 75%;
}

.divider:not(:last-child) {
	width: 77%;
	height: 1px;
	background-color: var(--purple);
	bottom: 0;
	left: 0;
}

.edit {
	background-image: url('./assets/edit-svgrepo-com.svg');
}

