:root {
	--black: #252525;
	--white: #f7f7f7;
	--purple: #6c63ff;
}

body {
	background-color: var(--black);
	color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem;
	gap: 4rem;
}

main {
	width: 75rem;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 4rem;
}

form {
	/* align-self: stretch; */
	display: flex;
	gap: 0.6rem;
	margin: 0 auto;
}

label {
	font-size: 1.8rem;
}

input[type='submit'],
.clear {
	padding: 0 0.4rem;
}
#new-task-description {
	width: 36rem;
}
h1 {
	font-size: 4.1rem;
}

.low {
	color: hsl(120, 100%, 50%);
}

.medium {
	color: hsl(60, 100%, 50%);
}

.high {
	color: hsl(0, 100%, 50%);
}

#tasks {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	align-items: center;
}
.task {
	position: relative;
	display: flex;
	font-size: 1.8rem;
	justify-content: flex-start;
	gap: 1rem;
	width: 75%;
}

.divider:not(:last-child) {
	width: 77%;
	height: 1px;
	background-color: var(--purple);
	bottom: 0;
	left: 0;
}

.edit {
	background-image: url('./assets/edit-svgrepo-com.svg');
}

.delete {
	background-image: url('./assets/trash-bin-minimalistic-svgrepo-com.svg');
}

.buttons {
	display: flex;
	gap: 0.9rem;
	margin-left: auto;
}

.edit,
.delete {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

#tasks label {
	display: grid;
	grid-template-columns: 1em auto;
	gap: 0.5em;
	transition: text-decoration 1s;
}

#tasks label:has(> [type='checkbox']:checked) {
	text-decoration: line-through;
	filter: brightness(75%);
}

@media (max-width: 700px) {
	body {
		gap: 0rem;
	}
	main {
		width: 100vw;
		margin: 3rem;
	}
	form {
		display: grid;
		grid-template-columns: 5rem repeat(3, 1fr);
		margin: 0 3rem;
		/* width: 100%; */
		align-self: center;
		place-content: center;
	}

	#new-task-description {
		width: 60vw;
	}

	form select {
		grid-column: 1/3;
	}

	form label {
		grid-column: 1;
	}
	form [type='text'] {
		grid-column: 2/-1;
		grid-row: 0/1;
		width: unset;
	}
}

/* input[type='checkbox'] {
	position: relative;
	opacity: 0;
	width: 0;
	height: 0;
	cursor: pointer;
}

input[type='checkbox']:before {
	position: absolute;
	width: 2rem;
	height: 2rem;
	border: 1px solid var(--purple);
	top: 0;
	left: 0;
} */